{
  "useTabs": false,
  "singleQuote": true,
  "trailingComma": "none",
  "tabWidth": 2,
  "printWidth": 100,
  "pluginSearchDirs": false,
  "bracketSameLine": true,
  "plugins": [
    "prettier-plugin-astro",
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^\\@styles/",
    "<TYPES>",
    "<TYPES>^[.]",
    "",
    "^(@astrojs/(.*)$)|^(@astrojs$)",
    "^(astro-(.*)$)|^(astro-$)",
    "",
    "^(astro/(.*)$)|^(astro$)",
    "",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "",
    "^\\@config/",
    "",
    "^\\@lib/",
    "^\\@utils/",
    "^\\@assets/",
    "^\\@content/",
    "^\\@data/",
    "",
    "^\\@layouts/",
    "^\\@pages/",
    "",
    "^\\@components/icon/",
    "^\\@components/atoms/",
    "^\\@components/organisms/",
    "^\\@components/ui/",
    "^\\@components/",
    "^\\@(?![^\\/]*\\/)",
    "^\\@[^/]*\\/[^/]+",
    "^[./]",
    "\\.js$",
    "\\.svelte$",
    "\\.astro$"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderBuiltinModulesToTop": true,
  "importOrderParserPlugins": ["typescript"],
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "overrides": [
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    },
    {
      "files": "*.astro",
      "options": {
        "parser": "astro"
      }
    }
  ]
}
