---
import BlogLayout from '@layouts/BlogLayout.astro';
---

<BlogLayout>
  <div class="flex min-h-screen flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Blog</h1>
    <p class="text-lg">The only assistant you will ever need!</p>
  </div>
</BlogLayout>
