---
import MarketingLayout from '@layouts/MarketingLayout.astro';

import { Button } from '@components/ui/button';
---

<MarketingLayout title="Relay - Seamless AI experience">
  <div class="flex min-h-screen flex-col items-center justify-center">
    <h1 class="text-4xl font-bold">Relay</h1>
    <p class="text-lg">The only assistant you will ever need!</p>
    <Button class="mt-4">Lets get started!</Button>
  </div>
</MarketingLayout>
