<div class="fixed inset-x-0 top-4 z-50">
  <div class="mx-auto px-8 lg:max-w-xl">
    <div class="mx-auto w-full">
      <div
        x-data="{ open: false }"
        class="shadow-thick relative mx-auto flex w-full flex-col rounded-full border border-white/10 bg-black/70 px-4 py-2 backdrop-blur-xl backdrop-filter md:flex-row md:items-center md:justify-between md:rounded-full md:px-4 md:py-3">
        <div class="flex flex-row items-center justify-between md:justify-start">
          <a
            class="inline-flex items-center gap-3 text-lg font-bold text-white hover:text-white/50"
            href="/"
            title="Home"
            aria-label="Home">
            <svg
              class="h-7"
              viewBox="0 0 84 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M2.41222 4.68598L5.31625 7.59001H0.773464C0.375544 8.60219 0.110557 9.68123 0 10.8056H8.3939C9.72584 10.8056 10.8056 9.72584 10.8056 8.3939V0C9.68122 0.110555 8.6022 0.37555 7.59001 0.773473V5.31626L4.68597 2.41223C3.83078 3.06561 3.06559 3.8308 2.41222 4.68598Z"
                fill="#46A758"></path>
              <path
                d="M13.2173 0.00227665V8.3939C13.2173 9.72584 14.297 10.8056 15.6289 10.8056H24C23.8894 9.68123 23.6245 8.60219 23.2265 7.59001H18.7066L21.5977 4.69893C20.9454 3.84283 20.1812 3.07662 19.327 2.42212L16.4328 5.31626V0.782482C15.4209 0.382262 14.3418 0.11501 13.2173 0.00227665Z"
                fill="#46A758"></path>
              <path
                d="M23.9977 13.2173H15.6289C14.297 13.2173 13.2173 14.297 13.2173 15.6289V23.9977C14.3418 23.885 15.4209 23.6177 16.4328 23.2175V18.7066L19.314 21.5878C20.1692 20.9344 20.9344 20.1692 21.5878 19.314L18.7066 16.4328H23.2175C23.6177 15.4209 23.885 14.3419 23.9977 13.2173Z"
                fill="#46A758"></path>
              <path
                d="M10.8056 24V15.6289C10.8056 14.297 9.72584 13.2173 8.3939 13.2173H0.00226818C0.115001 14.3419 0.382251 15.4209 0.782473 16.4328H5.31625L2.42212 19.327C3.07662 20.1812 3.84283 20.9454 4.69893 21.5977L7.59001 18.7066V23.2265C8.6022 23.6245 9.68122 23.8894 10.8056 24Z"
                fill="#46A758"></path>
              <path
                d="M83.8008 6.68348V21.1987C83.8008 22.1203 83.294 22.6041 82.2111 22.6041H73.4559V20.8531H81.7503V16.222L82.0959 14.8396H81.5199C81.0591 16.9132 79.6076 18.3648 77.1192 18.3648C74.5157 18.3648 72.8108 16.8441 72.8108 13.6185V6.68348H74.8383V13.342C74.8383 15.7152 75.7599 16.6137 77.6952 16.6137C80.0914 16.6137 81.7503 14.7936 81.7503 11.7062V6.68348H83.8008Z"
                fill="white"></path>
              <path
                d="M60.2077 14.9548C60.2077 13.1347 61.3136 11.8675 64.0324 11.614L68.5252 11.1763C68.433 9.10267 67.4883 8.11195 65.4608 8.11195C63.8711 8.11195 62.673 8.84923 62.4887 10.7616H60.4611C60.7146 8.15803 62.4656 6.45307 65.4378 6.45307C68.7786 6.45307 70.5757 8.50363 70.5757 11.5219V16.3833H72.2576V18.1344H70.161C69.2855 18.1344 68.7786 17.6275 68.7786 16.752V16.199L69.1011 14.9779H68.5252C68.0874 16.7289 66.8663 18.3648 64.0784 18.3648C60.7146 18.3648 60.2077 16.1529 60.2077 14.9548ZM62.2352 14.7014C62.2352 16.0147 63.0877 16.6828 64.401 16.6828C66.8893 16.6828 68.5252 14.9318 68.5252 12.6278L64.378 13.0656C62.9725 13.2038 62.2352 13.5955 62.2352 14.7014Z"
                fill="white"></path>
              <path
                d="M51.1404 18.1344V16.3833H54.343V2.95099H51.9468V1.19995H55.1955C55.9558 1.19995 56.3936 1.59163 56.3936 2.35195V16.3833H59.5961V18.1344H51.1404Z"
                fill="white"></path>
              <path
                d="M39.6517 12.2592C39.6517 8.54971 41.8636 6.45307 45.1353 6.45307C48.5221 6.45307 50.734 8.50363 50.734 12.0518V12.7891H41.6332C41.7023 15.024 42.8773 16.7289 45.2505 16.7289C47.2089 16.7289 48.3609 15.7152 48.7525 14.1254H50.7801C50.3193 16.2451 48.7986 18.3648 45.2735 18.3648C41.541 18.3648 39.6517 15.646 39.6517 12.2592ZM41.6562 11.3376H48.7295C48.5913 9.26395 47.1858 8.06587 45.1353 8.06587C43.246 8.06587 41.8175 9.26395 41.6562 11.3376Z"
                fill="white"></path>
              <path
                d="M31.6801 8.27324C31.6801 7.19036 32.21 6.68348 33.2929 6.68348H39.7671V8.43452H33.7306V18.1344H31.6801V8.27324Z"
                fill="white"></path>
            </svg>
          </a>
          <button
            @click="open = !open"
            class="inline-flex items-center justify-center p-2 text-zinc-400 hover:text-blue-300 focus:text-white focus:outline-none md:hidden">
            <svg class="size-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
              <path
                :class="{'hidden': open, 'inline-flex': !open }"
                class="inline-flex"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M4 6h16M4 12h16M4 18h16">
              </path>
              <path
                :class="{'hidden': !open, 'inline-flex': open }"
                class="hidden"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M6 18L18 6M6 6l12 12">
              </path>
            </svg>
          </button>
        </div>
        <nav
          :class="{'flex': open, 'hidden': !open}"
          class="hidden flex-grow flex-col justify-center py-12 md:flex md:flex-row md:items-end md:py-0">
          <ul
            class="list-none items-center justify-center gap-3 space-y-2 text-center text-xs text-white md:ml-auto md:inline-flex md:space-y-0 md:text-left">
            <li>
              <a
                href="/blog"
                title="Blog"
                aria-label="Blog"
                class="hover:text-blue-400 lg:py-10">
                Blog
              </a>
            </li>
            <li>
              <a
                href="/changelog"
                title="Changelog"
                aria-label="Changelog"
                class="hover:text-blue-400 lg:py-10">
                Changelog
              </a>
            </li>

            <li>
              <a
                href="#"
                title="Get Started"
                aria-label="Get Started"
                class="inline-flex items-center justify-center rounded-full border border-transparent bg-white px-4 py-1.5 text-xs text-black ring-1 ring-transparent duration-200 hover:bg-white/10 hover:text-white focus:ring-2 focus:ring-white focus:ring-offset-2 lg:ml-auto">
                Get Started
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
