---
import '@styles/app.css';

import Footer from '@components/common/Footer.astro';
import BaseMeta from '@components/common/meta/BaseMeta.astro';
import Favicons from '@components/common/meta/Favicons.astro';
import Verifications from '@components/common/meta/Verifications.astro';
import Navigation from '@components/common/Navigation.astro';
import { LOCALE, VERIFICATION_TOKENS } from '@config';

const canonicalURL = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang=`${LOCALE.lang ?? "en"}` class="smooth-scroll">
  <head>
    <BaseMeta />

    <Favicons />

    <!-- Verification Metatags -->
    <Verifications googleSiteVerification={VERIFICATION_TOKENS.google} />

    <link rel="canonical" href={canonicalURL} />

    <!-- Remainder of the meta tags -->
    <slot name="meta" />

    <!-- Toggle Theme -->
    <script is:inline src="/toggle-theme.js" async></script>
  </head>

  <body>
    <Navigation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
